:root {
    --couleur-primaire: #2C1F1F;
    --couleur-secondaire: #E7E1E1;
    --couleur-accent: #C1272D;
    --normal-font-family: KoHo;
}

body {
    font-family: var(--normal-font-family);
    background-color: var(--couleur-secondaire);
    background-image: url(../Images/bg-apropos.png);
    background-size: cover;
    background-position: bottom;
    margin:0;

}

.container {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}

header{
    background-color: var(--couleur-primaire);   
}

.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;

        & .top-nav__logo{
            height: 7rem;
        }

        & .top-nav__lien{
            color: var(--couleur-secondaire);
            text-decoration: none;
            padding-left: 2rem;
        }

        & .top-nav__lien:hover{
            color: var(--couleur-accent);
        }

        & .top-nav__icon{
            height: 1rem;
            padding-right: 0.2rem;
        }

}

.hero {
    background-image: url(../Images/bg-banniere.png);
    background-size: cover;
    background-position: center;
    height: 50rem;
    color: var(--couleur-secondaire);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;

        & .hero__h1 {
            font-size: 4rem;
            margin: 0;
            line-height: 4rem;
        }

        & .hero__p {
            font-size: 1.2rem;
            font-weight: 300;
            max-width: 30rem;
            margin-bottom: 3.5rem;
        }

        & .hero__form {
            display: flex;
            flex-direction: column;
            margin-bottom: 3rem;
        }

        & .hero__select {
            padding: 0.3rem 2rem;
            border: none;
            background-color: var(--couleur-secondaire);
            margin-bottom: 1rem;
        }

        & .hero__select:hover, .hero__select:focus{
            outline: 0.15rem solid var(--couleur-accent);
        }

        & .hero__button {
            border-radius: 2rem;
            border: 0.15rem solid var(--Couleur-accent, #C1272D);
            color: var(--couleur-secondaire);
            font-size: 1.2rem;
            background: var(--Couleur-primaire, #2C1F1F);
            padding: 0.3rem 2rem;

        }

        & .hero__button:hover {
            background-color: var(--couleur-accent);
        }
    
}

